<div style="margin-top:30px;margin-left:35%;">
    <div class="card" style="width:600px;">

        <div class="card-body">
            <form [formGroup]="form" autocomplete="off" (submit)="updataPassword()">
                <div class="card-body" style="padding:20px 50px;">

                    <i class="fa fa-lock lockCase"></i>

                    <div class="form-group">
                        <label><strong>Current password:</strong> </label>
                        <input class="form-control" formControlName="current" type="password" [(ngModel)]="password.current" placeholder="Enter current password" style="border:0;background-color:rgb(200, 251, 251)">
                        <div class="text-danger" *ngIf="form.controls['current'].hasError('required') && form.controls['current'].touched">Please enter current password</div>
                    </div>

                    <div class="form-group">
                        <label><strong>New password:</strong> </label>
                        <input class="form-control" formControlName="new" type="password" [(ngModel)]="password.new" placeholder="Enter new password" style="border:0;background-color:rgb(200, 251, 251)">
                        <div class="text-danger" *ngIf="form.controls['new'].hasError('required') && form.controls['new'].touched">Please enter new password</div>
                    </div>

                </div>
                <div class="card-footer" style="text-align: right;background-color: rgb(142, 255, 255)">
                    <button type="submit" class="btn btn-primary btn-sm"> Confirm </button>
                </div>
            </form>
        </div>
    </div>
</div>