.container {
    margin: 0;
    padding: 0;
    width: 50%;
}

.chat_user {
    display: flex;
}

.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 0;
    overflow: hidden;
    color: #000000;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    background: #888787;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
}

.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: .9rem;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.chat-list {
    padding: 0;
}

.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #888787;
}

.chat-list .out .chat-img {
    float: right;
}

.chat-list .out .chat-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.chat-list .out .chat-message {
    background: #f1e9e9;
}

#p_mesg {
    font-size: 13px;
    max-width: 500px;
    padding: 0;
    margin: 0;
    text-align: justify;
}

.chat-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #f1e9e9;
}

/* .card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
} */

.card .card-header {
    background: #ffffff;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    color: #000000;
}

.card {
    width: 850px;
}

#messageBox:focus {
    outline: none;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #494949;
}

#mainInputBox {
    padding: 0 20px;
    display: flex;
}

#messageBoxd {
    flex: 1.4;
}

#sendButton {
    flex: 0.1;
}