<footer id="mainFooter">
  <div class="footer-right">
    <ul class="social-nav">
      <li>Follow Us</li>
      <li class="icon-bubble"><a href="https://www.facebook.com/netflixus" target="_blank"><i class="fa fa-facebook"></i><span
            class="hidden">Netflix on Facebook</span></a></li>
      <li class="icon-bubble"><a href="https://twitter.com/netflix" target="_blank"><i class="fa fa-twitter"></i><span
            class="hidden">Netflix on Twitter</span></a></li>
      <li class="icon-bubble"><a href="https://instagram.com/netflix" target="_blank"><i class="fa fa-instagram"></i><span
            class="hidden">Netflix on Instagram</span></a></li>
    </ul>
  </div>
</footer>